@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #f5f5f5;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.container {
    margin-top: 20px;
}
.textarea-custom {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f8f9fa; 
    color: #34495e; 
}
.btn-revert, .btn-view {
    margin-right: 10px;
    margin-bottom: 20px;
}
.note-card {
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 21px;
    margin-bottom: 20px;
    background: #457fca;
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);
    background: linear-gradient(to right, #5691c8, #457fca);
    max-height:400px;
    overflow-y: auto;
}
.note-card .card-content {
    font-size: 1rem;
    margin-top: 40px;
}
.note-card .card-content .card-icon {
    margin-right: 5px;
}
.draft-container {
    display: flex;
    flex-wrap: wrap;
}
.draft-card {
    flex: 0 0 30%;
    margin-right: 5%;
    margin-bottom: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px;
}
.draft-card:nth-child(3n) {
    margin-right: 0;
}

.modal-content {
    color: #457fca;
}

.modal-header, .modal-footer {
    background: #457fca; 
    background: -webkit-linear-gradient(to bottom, #5691c8, #457fca);  
    background: linear-gradient(to bottom, #5691c8, #457fca); 
    border: none;
    color: white;
}

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.card-content-modal {
    font-size: 19px;
    margin: 40px;
}

#revertButton {
    background-color: #1e3c72;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

#revertButton:hover {
    background-color: #162c5b;
}

#modal-close-btn:hover {
    background-color: white;
    color: #1e3c72;
}

#modal-close-btn {
    background-color: #1e3c72;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}